
@media screen and (max-width: 1000px) {
  .contacts{
    height: 440px;

    &__wrapper{
    }

    &__contact-block{
      &:before{
        background-size: 80%;
      }
    }

    &__title{
    }

    &__phone{
      &:before{
      }
    }

    &__address{
      &:before{
      }
    }

    &__map-wrapper{
      width: 50%;
    }

    &__map{
    }
  }
}


@media screen and (max-width: 820px) {
  .contacts{
    &__contact-block{
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 680px) {
  .contacts{
    height: auto;
    background: #ffffff;

    &__contact-block{
      padding-top: 50px;

      &:before{
        display: none;
      }
    }

    &__phone{
      margin-top: 35px;
    }

    &__address{
    }

    &__map-wrapper{
      margin-top: 35px;
      height: 455px;
      width: 150%;
      position: static;
      transform: translateX(-16%);
    }

    &__map{
      border-radius: ~"45% 45% 0 0";
    }
  }
}

@media screen and (max-width: 620px) {
  .contacts{
    &__title{
      font-size: 30px;
    }

    &__contact-block{
    }
  }
}

@media screen and (max-width: 420px) {
  .contacts{
    &__title{
      font-size: 24px;
    }

    &__contact-block{
    }
  }
}